@layer base {
  html {
    color: rgba(0, 0, 0, 0.6);
    -webkit-tap-highlight-color: transparent;
  }

  body {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    margin: 0;
  }

  @supports (-webkit-touch-callout: none) {
    body {
      /* The hack for Safari */
      height: -webkit-fill-available;
    }
  }

  #root {
    width: 100%;
    height: 100%;
  }

  * {
    font-family: "Fira Sans", sans-serif;
  }
}
